@{
    ViewData["Title"] = "Home Page";
}

<div id="content"></div>

@section Scripts
{
    <script src="@Url.Content("~/react/components/SearchPanel.jsx")"></script>
    <script src="@Url.Content("~/react/components/SearchResult.jsx")"></script>
    <script src="@Url.Content("~/react/index.jsx")"></script>
}